@import 'remixicon/fonts/remixicon.css';

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

#root {
  height: 100%;
}

.app {
  display: flex;
  width: 100%;
  height: 100%;
}

:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color: #0f0f0f;
  background-color: #f6f6f6;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

/* button */
input,
button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  color: #0f0f0f;
  background-color: #ffffff;
  transition: border-color 0.25s;
}

button {
  cursor: pointer;
  border: 1px solid #ffffff24;
}

button:hover {
  border-color: #396cd8;
}

button:active {
  border-color: #396cd8;
  background-color: #e8e8e8;
}

input,
button {
  outline: none;
}

/*Dark color scheme */
@media (prefers-color-scheme: dark) {
  :root {
    color: #f6f6f6;
    background-color: #2f2f2f;
  }

  a:hover {
    color: #24c8db;
  }

  input,
  button {
    color: #ffffff;
    background-color: #0f0f0f98;
  }
  button:active {
    background-color: #221a1a69;
  }
}

/* MAIN EDITOR (right handside) */

.main-editor {
  background-color: #0c0e09;
  border-left: 0.1px solid rgba(255, 255, 255, 0.246);
  flex: 1;
  overflow-x: auto; 
}

/* Menu icons */
.menu {
  display: flex;
  gap: 0.5rem;
  padding: 0 1rem;
  position: fixed;
  z-index: 10;
  padding: 20px;
}

.group-item {
  display: flex;
  gap: 0.5rem;
}

.menu-item {
  padding: 0.5rem 0.75rem
}

.menu-item .is-active {
  color: #55db55;
}

/* editor (via Remixon) */
.ProseMirror {
  padding: 1rem;
  outline: none;
  padding-top: 2.5rem;
}

.ProseMirror >
 * + * {
     margin-top: 0.75em;
}
 .ProseMirror ul, .ProseMirror ol {
     padding: 0 1rem;
}
 .ProseMirror h1, .ProseMirror h2, .ProseMirror h3, .ProseMirror h4, .ProseMirror h5, .ProseMirror h6 {
     line-height: 1.1;
}
 .ProseMirror code {
     background-color: rgba(97, 97, 97, 0.1);
     color: #616161;
}
 .ProseMirror pre {
     background: #0d0d0d;
     color: #fff;
     font-family: 'JetBrainsMono', monospace;
     padding: 0.75rem 1rem;
     border-radius: 0.5rem;
}
 .ProseMirror pre code {
     color: inherit;
     padding: 0;
     background: none;
     font-size: 0.8rem;
}
 .ProseMirror img {
     max-width: 100%;
     height: auto;
}
 .ProseMirror blockquote {
     padding-left: 1rem;
     border-left: 2px solid rgba(13, 13, 13, 0.1);
}
 .ProseMirror hr {
     border: none;
     border-top: 2px solid rgba(13, 13, 13, 0.1);
     margin: 2rem 0;
}



/* SIDEBAR (left handside) */

.sidebar {
  width: 25%;
  background-color: rgb(0, 0, 0);
  align-items: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.sidebar-container {
  width: 70%; 
  height: 85%;
  display: flex;
  flex-direction: column;
}


.sidebar-tools {
  height: 2%;
  align-items: center;
  display: flex;
  padding: 30px;
  justify-content: space-between;
  border-bottom: 2px solid #ffffff24;
}

.entries {
  flex: 0 0 15vw;
  padding-top: 1rem; 
  width: 100%;
  height: 100%;
  align-items: center;
}

.entries-container {
  display: flex;
  width: 100%;
  height: 80%;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
  overflow-y: auto;
}

.entry {
  cursor: pointer;
  font-size: 15px;
  width: 100%;
  background-color: transparent;  
  transition: background-color 0.5s ease;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 10px;
}

.entry-content{
  padding: 20px;
  font-size: 20px;
}

.entry:hover {
  transition: background-color 2s ease;
}

.new-note-icon {
  width: 20px;
  height: 20px;
  order: 1;
}

@keyframes gradient-wave {
  0% { background-position: 0% 50%; }
  100% { background-position: 100% 100%; }
}

.new-note-button {
  margin: 0 0px;
  padding: 6px;
  border: 2px solid;
  background: linear-gradient(51deg, rgba(255, 0, 0, 0.705), rgba(255, 255, 0, 0.621), rgba(0, 128, 0, 0.632), rgba(0, 0, 255, 0.642), rgba(238, 130, 238, 0.555));
  animation: gradient-wave 0.5s infinite;
}

.new-note-button:hover, .new-note-button:active {
  box-shadow: none;
  cursor: pointer;
  border-color: none;
  cursor: pointer;
}

.delete-icon {
  width: 15px;
  height: 15px;
}

.note-title {
  margin: 300px 50px;
}

.delete-button {
  margin: 0 30px;
  padding: 6px;
}

.delete-button:hover, .delete-button:active {
  box-shadow: none;
  cursor: pointer;
  border-color: none;
  cursor: pointer;
}


.note-title:hover, .note-title:active {
  box-shadow: none;
  cursor: pointer;
  border-color: none;
  cursor: pointer;
}

.headline-editor {
  border-bottom: 0.5px solid rgba(255, 255, 255, 0.146); /* Add a white border */
  margin-top: 2rem;
}

/* Remove bullet points */
ul[data-type="taskList"] {
  list-style-type: none;
}

/* Display text next to the todo and add margin on left*/
ul[data-type="taskList"] > li > input,
ul[data-type="taskList"] > li > div {
  display: inline-block;
  margin-left: 10px;
}

.timer {
  width: 100%;
  height: 10%;
  align-items: column;
  display: flex;
  border: 1px solid #ffffff24;
}

.clock{
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  font-weight: 500;
  color: #ffffff;
  font-size: 30px;
  width: 50%;
}

.timer-tools {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  width: 50%;
}

.start-timer {
  margin: 0 10px;
  padding: 6px;
  background-color: rgba(0, 128, 0, 0.306);
  padding: 15px;
}

.start-timer:hover, .start-timer:active {
  margin: 0 10px;
  background-color: green;
}

.stop-timer {
  margin: 0 10px;
  padding: 6px;
  background-color: rgba(211, 214, 32, 0.306);
  padding: 15px;
}

.stop-timer:hover, .start-timer:active {
  margin: 0 10px;
  background-color: yellow;
}

.reset-timer {
  margin: 0 10px;
  padding: 6px;
  background-color: rgba(200, 19, 19, 0.306);
  padding: 15px;
}

.reset-timer:hover, .reset-timer:active {
  margin: 0 10px;
  background-color: red;
}