@import 'remixicon/fonts/remixicon.css';
@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

.app {
  display: flex;
  width: 100%;
  height: 100vh;
}

:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color: #0f0f0f;
  background-color: #f6f6f6;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

/* button */
input,
button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  color: #0f0f0f;
  background-color: #ffffff;
  transition: border-color 0.25s;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
}

button {
  cursor: pointer;
}

button:hover {
  border-color: #396cd8;
}

button:active {
  border-color: #396cd8;
  background-color: #e8e8e8;
}

input,
button {
  outline: none;
}

/*Dark color scheme */
@media (prefers-color-scheme: dark) {
  :root {
    color: #f6f6f6;
    background-color: #2f2f2f;
  }

  a:hover {
    color: #24c8db;
  }

  input,
  button {
    color: #ffffff;
    background-color: #0f0f0f98;
  }
  button:active {
    background-color: #0f0f0f69;
  }
}

/* MAIN EDITOR (right handside) */

.main-editor {
  background-color: #4d3f3f;
  border-left: 1px solid white;
  flex: 1; 
}

/* Menu icons */
.menu {
  display: flex;
  gap: 0.5rem;
  padding: 0 1rem;
  position: fixed;
  z-index: 10;
}

.group-item {
  display: flex;
  gap: 0.5rem;
}

.menu-item {
  padding: 0.5rem 0.75rem
}

.menu-item .is-active {
  color: #55db55;
}

::-webkit-scrollbar {
  width: 14px;
  height: 14px;
}

::-webkit-scrollbar-button {
  display: none;
  width: 0;
  height: 0;
}

::-webkit-scrollbar-corner {
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  border: 4px solid rgba(0, 0, 0, 0);
  background-clip: padding-box;
  border-radius: 8px;
  background-color: rgb(182, 182, 182);
}

::-webkit-scrollbar-track {
  border: 4px solid transparent;
  background-clip: padding-box;
  border-radius: 8px;
  background-color: transparent;
}


/* editor (via Remixon) */
.ProseMirror {
  padding: 1rem;
  outline: none;
  padding-top: 2.5rem;
}

.ProseMirror >
 * + * {
     margin-top: 0.75em;
}
 .ProseMirror ul, .ProseMirror ol {
     padding: 0 1rem;
}
 .ProseMirror h1, .ProseMirror h2, .ProseMirror h3, .ProseMirror h4, .ProseMirror h5, .ProseMirror h6 {
     line-height: 1.1;
}
 .ProseMirror code {
     background-color: rgba(97, 97, 97, 0.1);
     color: #616161;
}
 .ProseMirror pre {
     background: #0d0d0d;
     color: #fff;
     font-family: 'JetBrainsMono', monospace;
     padding: 0.75rem 1rem;
     border-radius: 0.5rem;
}
 .ProseMirror pre code {
     color: inherit;
     padding: 0;
     background: none;
     font-size: 0.8rem;
}
 .ProseMirror img {
     max-width: 100%;
     height: auto;
}
 .ProseMirror blockquote {
     padding-left: 1rem;
     border-left: 2px solid rgba(13, 13, 13, 0.1);
}
 .ProseMirror hr {
     border: none;
     border-top: 2px solid rgba(13, 13, 13, 0.1);
     margin: 2rem 0;
}



/* SIDEBAR (left handside) */

.sidebar {
  flex: 0 0 20vw; 
  background-color: rgb(28, 38, 47);
  align-items: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.sidebar-container {
  flex: 0 10 50vw; 
  background-color: rgb(28, 38, 47);
  align-items: flex-start;
  display: flex;
  border: 1px solid blue;
  flex-direction: column;
}

.daybook {
  flex: 0 0 15vw;
  padding-top: 1rem; 
  width: 50%;
  height: 80%;
  background-color: rgb(28, 38, 47);
  border: 1px solid white;
}

.sidebar-tools {
  gap: 1rem;
  border: 1px solid yellow;
  align-self: flex-end;
}

.entries {
  cursor: pointer;
  font-size: 20px;
  padding: 10px;
  background-color: transparent;  
  transition: background-color 0.5s ease;
}

.entries:hover {
  background-color: #afb13c;
  transition: background-color 2s ease;
}

.daybook-container {
  display: flex;
  justify-content: space-between;
  order: 2;
}

.entries-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.new-note-icon {
  width: 15px;
  height: 15px;
  order: 1;
}

.delete-icon {
  width: 15px;
  height: 15px;
}

.no-interaction {
  background-color: transparent;
  color: none;
  box-shadow: none;
  border-color: none;
}

.no-interaction:hover, .no-interaction:active {
  background-color: transparent;
  box-shadow: none;
  cursor: none;
  border-color: none;
}
